:root {
    --thistle: #D0C4DF;
    --drab: #65532F;
    --tea: #C5EBC3;
    --money: #3ea838;
}

body {
    background: var(--thistle);
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

.est {
    font-style: italic;
}